<div class="container">
    <h1>Dashboard</h1>
    <a href="/dashboard/new" class="btn btn-primary mb-3">Create New Post</a>
    {{#if posts}}
    <ul class="list-group">
        {{#each posts}}
        <li class="list-group-item">
            <h3>{{title}}</h3>
            <p>{{contents}}</p>
            <a href="/dashboard/edit/{{id}}" class="btn btn-secondary">Edit</a>
            <a href="/dashboard/delete/{{id}}" class="btn btn-danger">Delete</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>You have no posts</p>
    {{/if}}
    <a href="/logout" class="btn btn-primary">Logout</a>
</div>
