<div class="container">
    <h1>{{post.title}}</h1>
    <p>{{post.contents}}</p>
    <h3>Comments</h3>
    {{#if comment.length}}
    <ul class="list-group">
        {{#each comment}}
        <li class="list-group-item">
            <p>{{content}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No comments yet</p>
    {{/if}}
    <form method="POST" action="/post/{{id}}/comment">
        <div class="mb-3">
            <label for="comment" class="form-label">Add Comment</label>
            <textarea class="form-control" id="comment" name="comment" required="true"></textarea>
        </div>
        <input type="hidden" name="postId" value="post.id">
        <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
</div>